<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home/tabs/main">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>RAKETIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="https://2.bp.blogspot.com/_gJgdaWwz4A4/S0dRL0Rhx-I/AAAAAAAAAIY/lzW94TSwTtE/s320/badminton.gif"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card>
    <ion-card-content class="konten">
      RAKETIN <br>
      Saat ini orang-orang ingin merasa dimudahkan dalam berbelanja,<br>
      termasuk dalam membeli kebutuhan olahraga terutama raket badminton.<br><br>
      Aplikasi ini diharapkan dapat membantu orang-orang ketika membeli raket badminton,<br>
      karena pada aplikasi ini orang - orang bisa memasukan kategori raket yang dinginkan seperti apa.<br>
          </ion-card-content>
  </ion-card>

</ion-content>