<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-label color="success">Beranda</ion-label>
      <ion-icon color="success" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="managebooking">
      <ion-label color="success">Testing</ion-label>
      <ion-icon color="success" name="pencil-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-label color="success">Tentang</ion-label>
      <ion-icon color="success" name="copy-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label color="success">Profil</ion-label>
      <ion-icon color="success" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
